
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  text-align: center;
  font-family: 'Courier';
  background-color: black;
  color: white;
  overflow: hidden;
}

canvas {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}


body {
  background:orange;
  
}

#gameMenu {
  width:0px;
  height:0px;
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: px;
  position:relative;
  margin:auto;
  top:5px;
  left:2px;
  margin-bottom: 1000px;
}

#Niveau1 {
  position:relative;
  bottom:330px;
  right:300px;
  height:50px;
  width:600px;
  background:#006680;
  text-align:center;
  font-size:30px;
  background-size: 1px 300%;
  -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  cursor:pointer;  
}

#Niveau1:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
}

#Niveau2:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}


#Niveau3:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}

#left {
  height:100px;
    width:600px;
  background:orange;
  position:absolute;
  z-index:6;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  top:-175px;
  right:-104px;
  border-top:1px solid white;
}

#right {
  height:100px;
  width:600px;
  background:orange;
  position:absolute;
  top:-229px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index:7;
  left:-56px;
  border-top:1px solid white;
}



#Niveau1 p {
  position:relative;
  top:2px;
  right:4px;
}

#Niveau2 {
  height:50px;
  width:500px;
  background:#006680;
  position:relative;
  bottom:345px;
  right:240px;
  text-align:center;
  font-size:30px;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#Niveau2 p {
  position:relative;
  top:0px;
  right:9px;
}

#Niveau3 {
  height:50px;
  width:400px;
  background:#006680;
  position:relative;
  bottom:360px;
  right:200px;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}

#Niveau3 p {
  position:relative;
  top:0px;
  right:4px;
}
